.eac-old {
    z-index: 1;
}
.eac-left-new,
.eac-right-new,
.eac-up-new,
.eac-down-new {
    @include transition-property(transform);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-out);
    @include transform(translateX(0%));
    z-index: 2;

    &.eac-left-new-sliding {
        @include transform(translateX(-100%));
    }

    &.eac-right-new-sliding {
        @include transform(translateX(100%));
    }

    &.eac-up-new-sliding {
        @include transform(translateY(-100%));
    }

    &.eac-down-new-sliding {
        @include transform(translateY(100%));
    }

}

.eac-left-new {
    left: 100% !important;
}

.eac-right-new {
    left: -100% !important;
}

.eac-up-new {
    top: 100% !important;
}

.eac-down-new {
    top: -100% !important;
}
